@{
    ViewBag.Title = "Пять студентов с максимальными баллами";
}

<h3>Список студентов (5 студентов с максимальными баллами)</h3>
<table class="table-bordered">
    <tr>
        <td><strong>ФИО</strong></td>
        <td><strong>Суммарный балл</strong></td>
    </tr>
    @{
        List<FinalTask.Models.Student> students = ViewBag.Students;
        var orderBestStudents = from j in students
                                orderby j.CSDeveloping + j.JavaDeveloping descending
                                select new FinalTask.Models.Student
                                {
                                    StudentName = j.StudentName,
                                    CSDeveloping = j.CSDeveloping,
                                    JavaDeveloping = j.JavaDeveloping
                                };
        IEnumerable<FinalTask.Models.Student> orderFiveBestStudents = orderBestStudents.Take(5);
        foreach (var k in orderFiveBestStudents)
        {
            int i = k.CSDeveloping + k.JavaDeveloping;
            <tr>
                <td><p>@k.StudentName</p></td>
                <td><p>@i</p></td>
            </tr>
        }
    }
</table>