@{
    ViewBag.Title = "Добавить студента";
}

<h3>Форма добавления нового студента</h3>
<form method="post" action="">
    <table>
        <tr>
            <td><p>Введите ФИО студента</p></td>
            <td>
                <input type="text"
                       name="StudentName" />
            </td>
        </tr>
        <tr>
            <td><p>Введите количество баллов по предмету "Разработка приложений на C#"</p></td>
            <td>
                <input type="text"
                       name="CSDeveloping" />
            </td>
        </tr>
        <tr>
            <td><p>Введите количество баллов по предмету "Разработка приложений на Java"</p></td>
            <td>
                <input type="text"
                       name="JavaDeveloping" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Отправить" />
            </td>
            <td></td>
        </tr>
    </table>
</form>
<h3>Список студентов</h3>
<table class="table-bordered">
    <tr>
        <td><strong>ФИО</strong></td>
        <td><strong>Разработка приложений на C#</strong></td>
        <td><strong>Разработка приложений на Java</strong></td>
    </tr>
    @foreach (var c in ViewBag.Students)
    {
        <tr>
            <td><p>@c.StudentName</p></td>
            <td><p>@c.CSDeveloping</p></td>
            <td><p>@c.JavaDeveloping</p></td>
        </tr>
    }
</table>
